@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 352px;
    border-radius: 20px;
    padding: 12px 12px 24px 12px;
    gap: 12px;
    background: #FFFFFF;
    border: 1.5px solid white;
    transition: border-color 0.3s, box-shadow 0.3s;

    .product-description {
        display: flex;
        flex-direction: column;
        width: 261px;
        height: 316px;
        gap: 12px;

        .image {
            position: relative;
            width: 261px;
            height: 192px;
            border-radius: 12px;

            .heart-size {
                position: absolute;
                width: 15.83px;
                height: 15px;
                top: 10px;
                left: 230px;

                /* border: 1.5px solid gray; */


                z-index: 1000;
            }
        }


        .other-details {
            display: flex;
            flex-direction: column;
            width: 251px;
            height: 112px;
            gap: 20px;

            .details {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 212px;
                height: 72px;

                .description {
                    font-family: 'Montserrat';
                    display: flex;
                    height: 12px;
                    color: red;
                    font-weight: 600;
                    line-height: 12px;
                }

                .title {
                    display: flex;
                    font-family: 'Montserrat';
                    height: 20px;
                    font-weight: 600;
                    line-height: 19.5px;
                    letter-spacing: 2%;
                    size: 16px;
                }

                .color {
                    display: flex;
                    height: 24px;
                }

                .color-picker {
                    display: flex;
                    flex-direction: row;
                    width: 88px;
                    height: 24px;
                    gap: 8px;


                    .circle {
                        display: flex;
                        border-radius: 50px;
                        height: 24px;
                        width: 24px;
                        border-color: #8ea7ec;
                        border: 1.5px solid;

                    }
                }
            }



            .mrp {
                display: flex;
                font-family: 'Montserrat';
                margin-top: 8px;
                height: 20px;
                font-weight: 600;
                line-height: 19.5px;
                letter-spacing: 2%;
                size: 16px;

            }
        }
    }


}

.card:hover {
    border-color: rgb(87, 87, 238);
    /* Change border color on hover */

}