.main-container {
  display: flex;
  justify-content: center;
  height: 1024px;
  width: 1440px;
  background-color: #F7F8F9;
  top: 1126px;
  left: -960px;
}

.body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 873px;
  top: 48px;
  left: 120px;
  gap: 40px;
  background-color: #F7F8F9;
}